#playground{
    height:100vh; 
    position: relative;
}


#square{
        position: absolute;
        width  : 50px;
        height : 50px;
        background : red;
    transition: all 1s ;}